<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>Todo List</title>
</head>

<body>

    <!-- modal -->

    <div class="modal" id="todo_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Todo List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="modal_id" value="">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" value="1" id="is_active">
                        <label class="form-check-label" for="is_active">Is Active?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                    <button type="button" id="update" style="display: none;" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- code  -->
    <div class="container">
        <h1>TODO List Golang</h1>

        <div style="display: flex;justify-content: end;">
            <a class="btn btn-primary add-btn">Add</a>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="table-data">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td> <span class="badge bg-success"> Active</span> </td>
                    <td>
                        <a class="btn btn-warning btn-sm edit-btn" href="#">Edit</a>
                        <a class="btn btn-danger btn-sm delete-btn" href="#">Delete</a>

                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td> <span class="badge bg-danger"> In Active</span> </td>

                    <td>@fat</td>
                </tr>

            </tbody>
        </table>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/public/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>

    <script src="/public/js/jquery.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            function getData() {
                $.ajax({
                    url: '/todo',
                    method: 'get',
                    data: {
                    },
                    success: function (res) {
                        let data = '';
                        $.each(res, function (key, item) {
                            data += `<tr>
                                            <th scope="row">${key + 1}</th>
                                            <td>${item.title}</td>
                                            <td> <span class="badge ${item.is_active ? 'bg-success' : 'bg-danger'}"> ${item.is_active ? 'Active' : 'InActive'}</span> </td>
                                            <td>
                                                <a class="btn btn-warning btn-sm edit-btn" data-id="${item.ID}" href="#">Edit</a>
                                                <a class="btn btn-danger btn-sm delete-btn" data-id="${item.ID}" href="#">Delete</a>

                                            </td>
                                        </tr>`
                        })
                        $('#table-data').html(data)
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
            getData();
            $(document).on('click', '.add-btn', function (e) {
                $('#todo_modal .modal-title').html('Create Todo List');
                $('#save').show();
                $('#update').hide();
                $('#is_active').prop('checked', true);
                $('#todo_modal').modal('show');
            })
            $(document).on('click', '.edit-btn', function (e) {
                e.preventDefault();
                $('#save').hide();
                $('#update').show();
                $('#todo_modal .modal-title').html('Edit Todo List');
                $('#todo_modal').modal('show');
            })

            // for creating 
            $(document).on('click', '#save', function () {
                const title = $('#title').val()
                const is_active = $('#is_active').is(":checked")
                $.ajax({
                    url: '/todo',
                    method: 'POST',
                    data: {
                        title,
                        is_active
                    },
                    success: function (res) {
                        $('#todo_modal').modal('hide')
                        $('#title').val('')
                        getData();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })

            })
           

            // for deleting 
            $(document).on('click', '.delete-btn', function (e) {
                e.preventDefault();
                const id = $(this).data('id')
                $.ajax({
                    url: '/todo/' + id,
                    method: 'DELETE',
                    data: {
                    },
                    success: function (res) {
                        getData();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })


            // for Editing 
            $(document).on('click', '.edit-btn', function (e) {
                e.preventDefault();
                const id = $(this).data('id')
                $.ajax({
                    url: '/todo/' + id,
                    method: 'GET',
                    data: {
                    },
                    success: function (res) {
                        console.log(res)
                        const title = $('#title').val(res.title)
                        if (res.is_active) {
                            $('#is_active').prop('checked', true)
                        }
                        else {
                            $('#is_active').prop('checked', false)
                        }
                        $('input[name="modal_id"]').val(res.ID)
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })

             // for updating 
             $(document).on('click', '#update', function () {
                const id=$('input[name="modal_id"]').val();
                const title = $('#title').val()
                const is_active = $('#is_active').prop('checked')
                $.ajax({
                    url: '/todo/' + id,
                    method: 'PUT',
                    data: {
                        title,
                        is_active
                    },
                    success: function (res) {
                        $('#todo_modal').modal('hide')
                        getData();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })

        })
    </script>
</body>


</html>